# cp langfuse/.env.example langfuse/.env
# Dùng với: ./scripts/setup-langfuse.sh
# Đăng nhập UI: admin@agent-atin.local / Atin@123#

NEXTAUTH_URL=http://localhost:3000

LANGFUSE_INIT_ORG_ID=c042fcdd-721b-4e24-91c9-b87ff52966b5
LANGFUSE_INIT_ORG_NAME=agent_ATIN
LANGFUSE_INIT_PROJECT_ID=a510ed1c-3afc-43c8-b9e3-1fc9c36f235d
LANGFUSE_INIT_PROJECT_NAME=agent_ATIN
LANGFUSE_INIT_PROJECT_PUBLIC_KEY=pk-lf-0c271516-d371-4a03-9ea6-0a9c22f131c2
LANGFUSE_INIT_PROJECT_SECRET_KEY=sk-lf-cda213a6-b0a0-4e61-9df5-ca38c0d280c3
LANGFUSE_INIT_USER_EMAIL=admin@agent-atin.local
LANGFUSE_INIT_USER_NAME=admin
LANGFUSE_INIT_USER_PASSWORD=Atin@123#

SALT=f52dcc4e2539bb721293288f279d851209be7c36a406124fbb06432637f7cd8b
ENCRYPTION_KEY=c250badea34dc5fab11146b368f6f8d20c8f11f4d1ec5401c3131e551c889d16
NEXTAUTH_SECRET=f87b07e08c536f7ced856a8f18a93f56592c8aecd840cfec7b0952aa052f57e0

POSTGRES_PASSWORD=fQCCtm_TzLrZ1zJWYoIPbKUXwlA96P3a
CLICKHOUSE_PASSWORD=uCiJCTSwSrQzLtChER9JuWaXKRLUKWWc
MINIO_ROOT_PASSWORD=Nmq1XFz0yhl3xf36e2-zs7-Df3J13IB9
REDIS_AUTH=alIb75M8gWr6pIEhgRGcbup2GdiEDaDC

DATABASE_URL=postgresql://postgres:fQCCtm_TzLrZ1zJWYoIPbKUXwlA96P3a@postgres:5432/postgres

LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY=Nmq1XFz0yhl3xf36e2-zs7-Df3J13IB9
LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY=Nmq1XFz0yhl3xf36e2-zs7-Df3J13IB9
LANGFUSE_S3_BATCH_EXPORT_SECRET_ACCESS_KEY=Nmq1XFz0yhl3xf36e2-zs7-Df3J13IB9

LANGFUSE_MIGRATION_V4_WRITE_MODE=dual
